@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

article {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Sansita Swashed", cursive;
  background: linear-gradient(to top, #516395, #614385);
  color: #ecf0f1;
}

article .location {
  display: flex;
  align-items: center;
}

article .location .text{
  display: flex;
  margin-right: 10rem;
}

article .location .icon{
  display: flex;
  align-items: center;
  justify-content: center;
}

article .location .text p.location-city,
article .location .text p.location-country,
article .location .text p.divider {
  font-size: 2rem;
}

article .location .icon img.icon-status{
  height: 10rem;
}

article .temp{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 25px;
}
